/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--font-weight-regular);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto; /* по чек листу */
}

.header {
  margin-block-start: clamp(6.25rem, 6.106rem + 0.615vw, 6.375rem);
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  width: clamp(23.188rem, -0.25rem + 100vw, 43.5rem);
  padding: 0 14px 25px;
  text-transform: uppercase;
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-block-start: clamp(7.5rem, 6.346rem + 4.923vw, 8.5rem);
  font-size: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
  line-height: clamp(3.063rem, 1.909rem + 4.923vw, 4.063rem);
}

.title:focus {
  outline: none;
}

.subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  line-height: clamp(0.875rem, 0.226rem + 2.769vw, 1.438rem);
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline-start: 20px;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  border: none;
  cursor: none;
  text-transform: uppercase;
  background-color: inherit;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
  opacity: 0.6;
  background-color: var(--accent-color);
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "\25BA";
  color: inherit;
  width: 14px;
  height: 14px;
  left: -17px;
  top: -2px;
  -webkit-animation: arrow 0.5s infinite alternate ease-in-out;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.card {
  max-width: 696px;
  width: clamp(23.188rem, -0.25rem + 100vw, 43.5rem);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: min-content 375px min-content;
}

.card-title {
  padding: 4px 10px 6px;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: 21.78px;
}

.wrapper {
  position: relative;
}

.label {
  position: absolute;
  display: inline-block;
  z-index: 1;
  background-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  top: 25px;
  right: clamp(0.813rem, -0.053rem + 3.692vw, 1.563rem);
  opacity: 0.5;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-blend-mode: hard-light;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(20%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-sat-sepia-blur {
  filter: saturate(158%) sepia(55%) blur(0.2rem);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.content-paragraph {
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: 21px;
}

.card-buttons {
  align-self: end;
  display: flex;
  gap: 5px;
}

.card__icon-button {
  color: inherit;
  background-color: inherit;
  border: 2px solid transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
  height: 38px;
  align-self: start;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  transition: 0.3s ease;
  cursor: pointer;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-button {
  padding: 12.5px;
  width: 130px;
  height: 38px;
}

.save-button {
  width: clamp(19.125rem, 17.034rem + 8.923vw, 20.938rem);
  margin-block-start: 2px;
  margin-block-end: clamp(6.375rem, 6.303rem + 0.308vw, 6.438rem);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.like-icon {
  fill: var(--accent-color);
}

.button:hover {
  color: var(--like-hover-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  display: block;
  background-color: var(--accent-color);
  height: 100%;
  width: 0%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text,
.save-button-icon {
  color: var(--like-hover-color);
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save-button-icon {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.modal-window {
  padding: 30px 40px;
  width: clamp(21.313rem, 20.159rem + 4.923vw, 22.313rem);
  min-width: 341px;
  border: 2px solid var(--accent-color);
  margin: auto;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.modal-window[open] {
  display: grid;
}

.modal-window::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.modal-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.modal-text {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.modal-button {
  padding: 9px 17px;
  border: 2px solid var(--accent-color);
  margin-block-start: 30px;
  width: 100%;
  height: 38px;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

@media (min-width: 376px) {
  .card {
    grid-template-rows: min-content 696px min-content;
  }

  .save-button {
    flex-direction: row;
    padding: 16.5px;
    margin-block-start: 0;
  }

  .save-button-icon {
    width: 21px;
    height: 21px;
  }
}